{
  //"ConnectionStrings:DefaultConnection": "dbConnectionString",
  "APPLICATIONINSIGHTS_CONNECTION_STRING": "app-insights-connection-string",
  //"StorageDetails:ImagesSASToken": "storage-sas-token",
  "Application:Environment": "develop",
  "AzureAppConfigConnection": "app-config-connection-string"
}